submissions/part-1/n8n-master-orchestrator.json
{
  "name": "Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrate",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.task_type }}",
              "operation": "equals",
              "value2": "document"
            }
          ]
        }
      },
      "id": "is-document",
      "name": "Is Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.task_type }}",
              "operation": "equals",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "is-audio",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "workflowId": "document-worker-workflow-id",
        "options": {}
      },
      "id": "execute-document-worker",
      "name": "Execute Document Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "workflowId": "audio-worker-workflow-id",
        "options": {}
      },
      "id": "execute-audio-worker",
      "name": "Execute Audio Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "workflowId": "text-worker-workflow-id",
        "options": {}
      },
      "id": "execute-text-worker",
      "name": "Execute Text Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [700, 600]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "queued"
            },
            {
              "name": "task_id",
              "value": "={{ $json.task_id || $runId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [950, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1150, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Document?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Document?": {
      "main": [
        [
          {
            "node": "Execute Document Worker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Execute Audio Worker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Text Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Document Worker": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Audio Worker": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Text Worker": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["orchestrator", "master"],
  "pinData": {},
  "staticData": null
}
