n8n-workflows/dlq-handler.json
{
  "name": "Dead Letter Queue Handler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/dead_letter_queue?status=eq.pending&limit=10&order=created_at.asc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-dlq-items",
      "name": "Fetch DLQ Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-both-keys",
          "name": "Supabase Both Keys"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-has-items",
              "leftValue": "={{ $json.length || $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-items",
      "name": "Has Items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split DLQ items into individual items for processing\nconst input = $input.first().json;\nconst dlqItems = Array.isArray(input) ? input : [input];\nconst results = [];\n\nfor (const dlqItem of dlqItems) {\n  if (dlqItem && dlqItem.id) {\n    const retryCount = (dlqItem.retry_count || 0) + 1;\n    const maxRetries = dlqItem.max_retries || 5;\n    \n    results.push({\n      json: {\n        dlq_id: dlqItem.id,\n        resource_type: dlqItem.resource_type,\n        payload: dlqItem.payload,\n        error_message: dlqItem.error_message,\n        retry_count: retryCount,\n        max_retries: maxRetries,\n        should_abandon: retryCount > maxRetries\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-abandon",
              "leftValue": "={{ $json.should_abandon }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-max-retries",
      "name": "Max Retries Exceeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/dead_letter_queue?id=eq.{{ $json.dlq_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'processing', last_retry_at: new Date().toISOString(), retry_count: $json.retry_count }) }}",
        "options": {}
      },
      "id": "mark-processing",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-both-keys",
          "name": "Supabase Both Keys"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare payload to send to orchestrator\nconst dlqItem = $('Split Items').item.json;\n\n// Map resource_type to task_type\nconst taskTypeMap = {\n  'document': 'document',\n  'audio': 'audio',\n  'text': 'text'\n};\n\nconst taskType = taskTypeMap[dlqItem.resource_type] || 'document';\n\nreturn {\n  json: {\n    dlq_id: dlqItem.dlq_id,\n    task_type: taskType,\n    payload: dlqItem.payload,\n    retry_count: dlqItem.retry_count,\n    is_retry: true\n  }\n};"
      },
      "id": "prepare-retry-payload",
      "name": "Prepare Retry Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_URL}}/webhook/orchestrate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_type: $json.task_type, payload: $json.payload, is_retry: true, dlq_id: $json.dlq_id }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-orchestrator",
      "name": "Call Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Handle successful retry\nconst dlqItem = $('Prepare Retry Payload').item.json;\nconst response = $input.first().json;\n\nreturn {\n  json: {\n    dlq_id: dlqItem.dlq_id,\n    status: 'completed',\n    success: true,\n    response: response\n  }\n};"
      },
      "id": "handle-success",
      "name": "Handle Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "jsCode": "// Handle failed retry\nconst dlqItem = $('Prepare Retry Payload').item.json;\nconst errorData = $input.first().json;\n\n// Calculate next retry time with exponential backoff\nconst delayMinutes = Math.pow(2, dlqItem.retry_count);\nconst nextRetryAt = new Date(Date.now() + delayMinutes * 60 * 1000).toISOString();\n\nreturn {\n  json: {\n    dlq_id: dlqItem.dlq_id,\n    status: 'pending',\n    success: false,\n    next_retry_at: nextRetryAt,\n    error: errorData.error?.message || errorData.message || 'Retry failed'\n  }\n};"
      },
      "id": "handle-failure",
      "name": "Handle Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 500]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/dead_letter_queue?id=eq.{{ $json.dlq_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, next_retry_at: $json.next_retry_at || null }) }}",
        "options": {}
      },
      "id": "update-dlq-success",
      "name": "Update DLQ (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 300],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-both-keys",
          "name": "Supabase Both Keys"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/dead_letter_queue?id=eq.{{ $json.dlq_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, next_retry_at: $json.next_retry_at }) }}",
        "options": {}
      },
      "id": "update-dlq-failure",
      "name": "Update DLQ (Pending)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 500],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-both-keys",
          "name": "Supabase Both Keys"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/dead_letter_queue?id=eq.{{ $json.dlq_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'abandoned' }) }}",
        "options": {}
      },
      "id": "mark-abandoned",
      "name": "Mark Abandoned",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-both-keys",
          "name": "Supabase Both Keys"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$env.ALERT_EMAIL}}",
        "toEmail": "={{$env.ALERT_EMAIL}}",
        "subject": "=🚨 DLQ Item Abandoned - {{ $('Split Items').item.json.resource_type }}",
        "emailType": "html",
        "html": "=<h2>🚨 DLQ Item Abandoned After Max Retries</h2><table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\"><tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>DLQ ID</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Split Items').item.json.dlq_id }}</td></tr><tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Resource Type</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Split Items').item.json.resource_type }}</td></tr><tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Retry Count</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Split Items').item.json.retry_count }}</td></tr><tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Last Error</strong></td><td style=\"padding: 8px; border: 1px solid #ddd; color: red;\">{{ $('Split Items').item.json.error_message }}</td></tr><tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Time</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ new Date().toISOString() }}</td></tr></table><p style=\"margin-top: 20px; color: #666;\">This item requires manual intervention.</p>",
        "options": {}
      },
      "id": "send-abandoned-email",
      "name": "Send Abandoned Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1570, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "no-items",
      "name": "No Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 500]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch DLQ Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch DLQ Items": {
      "main": [
        [
          {
            "node": "Has Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Max Retries Exceeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries Exceeded?": {
      "main": [
        [
          {
            "node": "Mark Abandoned",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Abandoned": {
      "main": [
        [
          {
            "node": "Send Abandoned Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processing": {
      "main": [
        [
          {
            "node": "Prepare Retry Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry Payload": {
      "main": [
        [
          {
            "node": "Call Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Orchestrator": {
      "main": [
        [
          {
            "node": "Handle Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Success": {
      "main": [
        [
          {
            "node": "Update DLQ (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Failure": {
      "main": [
        [
          {
            "node": "Update DLQ (Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["dlq", "error-handling"],
  "triggerCount": 1,
  "pinData": {}
}
