n8n-workflows/dlq-handler.json
{
  "name": "Dead Letter Queue Handler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/dead_letter_queue?status=eq.pending&next_retry_at=lte.now()&limit=10&order=created_at.asc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-dlq-items",
      "name": "Fetch DLQ Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-items",
              "leftValue": "={{ Array.isArray($json) ? $json.length : (Array.isArray($input.all()) ? $input.all().length : 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-items",
      "name": "Has Items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split items and add retry metadata\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  // Handle both array response and single item\n  const dlqItems = Array.isArray(data) ? data : [data];\n  \n  for (const dlqItem of dlqItems) {\n    if (dlqItem && dlqItem.id) {\n      results.push({\n        json: {\n          ...dlqItem,\n          retry_attempt: (dlqItem.retry_count || 0) + 1,\n          exponential_delay: Math.pow(2, (dlqItem.retry_count || 0) + 1) * 1000\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/dead_letter_queue?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'processing', last_retry_at: new Date().toISOString(), retry_count: $json.retry_attempt }) }}",
        "options": {}
      },
      "id": "mark-processing",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process retry logic\nconst items = $input.all();\nconst prevItems = $('Split Items').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const dlqItem = prevItems[i].json;\n  const maxRetries = dlqItem.max_retries || 5;\n  const currentRetry = dlqItem.retry_attempt || 1;\n  \n  // Simulate retry result (in production, this would call the actual processing endpoint)\n  // For demo: 70% success rate\n  const success = Math.random() > 0.3;\n  \n  let status, nextRetryAt;\n  \n  if (success) {\n    status = 'completed';\n    nextRetryAt = null;\n  } else if (currentRetry >= maxRetries) {\n    status = 'abandoned';\n    nextRetryAt = null;\n  } else {\n    status = 'pending';\n    // Exponential backoff: 2^retry minutes\n    const delayMinutes = Math.pow(2, currentRetry);\n    nextRetryAt = new Date(Date.now() + delayMinutes * 60 * 1000).toISOString();\n  }\n  \n  results.push({\n    json: {\n      dlq_id: dlqItem.id,\n      status,\n      next_retry_at: nextRetryAt,\n      success,\n      retry_count: currentRetry,\n      resource_type: dlqItem.resource_type\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "process-retry",
      "name": "Process Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/dead_letter_queue?id=eq.{{ $json.dlq_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, next_retry_at: $json.next_retry_at }) }}",
        "options": {}
      },
      "id": "update-dlq-status",
      "name": "Update DLQ Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-abandoned",
              "leftValue": "={{ $('Process Retry').first().json.status }}",
              "rightValue": "abandoned",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-abandoned",
      "name": "Is Abandoned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/error_notifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resource_type: $('Process Retry').first().json.resource_type, severity: 'CRITICAL', message: 'DLQ item abandoned after max retries', details: { dlq_id: $('Process Retry').first().json.dlq_id, retry_count: $('Process Retry').first().json.retry_count }, notification_channels: ['database', 'email'] }) }}",
        "options": {}
      },
      "id": "notify-abandoned",
      "name": "Notify Abandoned",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-items",
      "name": "No Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400]
    },
    {
      "parameters": {},
      "id": "retry-scheduled",
      "name": "Retry Scheduled",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2010, 300]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch DLQ Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch DLQ Items": {
      "main": [
        [
          {
            "node": "Has Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Mark Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processing": {
      "main": [
        [
          {
            "node": "Process Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Retry": {
      "main": [
        [
          {
            "node": "Update DLQ Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DLQ Status": {
      "main": [
        [
          {
            "node": "Is Abandoned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Abandoned": {
      "main": [
        [
          {
            "node": "Notify Abandoned",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
