n8n-workflows/error-notifications.json
{
  "name": "Error Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "error-webhook",
      "name": "Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "error-notification"
    },
    {
      "parameters": {
        "jsCode": "// Parse and enrich error data\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const error = item.json.body || item.json;\n  \n  // Determine severity\n  let severity = error.severity || 'ERROR';\n  if (error.message && error.message.toLowerCase().includes('critical')) {\n    severity = 'CRITICAL';\n  } else if (error.message && error.message.toLowerCase().includes('warn')) {\n    severity = 'WARN';\n  }\n  \n  // Build notification payload\n  const notification = {\n    severity,\n    resource_type: error.resource_type || error.workflow || 'unknown',\n    resource_id: error.resource_id || null,\n    message: error.message || error.error || 'Unknown error occurred',\n    details: {\n      workflow: error.workflow,\n      node: error.node,\n      timestamp: new Date().toISOString(),\n      context: error.context || {}\n    },\n    notification_channels: ['database']\n  };\n  \n  // Add more channels for critical errors\n  if (severity === 'CRITICAL') {\n    notification.notification_channels.push('email');\n  }\n  \n  results.push({ json: notification });\n}\n\nreturn results;"
      },
      "id": "parse-error",
      "name": "Parse Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/error_notifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "log-to-database",
      "name": "Log to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-critical",
              "leftValue": "={{ $('Parse Error').first().json.severity }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-critical",
      "name": "Is Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, notification_id: $('Log to Database').first().json[0]?.id, severity: $('Parse Error').first().json.severity, critical: true, message: 'Critical error logged and escalated' }) }}"
      },
      "id": "critical-response",
      "name": "Critical Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, notification_id: $('Log to Database').first().json[0]?.id, severity: $('Parse Error').first().json.severity }) }}"
      },
      "id": "normal-response",
      "name": "Normal Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "Error Webhook": {
      "main": [
        [
          {
            "node": "Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "Is Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical": {
      "main": [
        [
          {
            "node": "Critical Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
