n8n-workflows/master-orchestrator.json
{
  "name": "Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "orchestrator"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming request and create task\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const body = item.json.body || item.json;\n  \n  // Determine task type based on mime_type or explicit type\n  let taskType = body.task_type;\n  \n  if (!taskType && body.payload?.mime_type) {\n    const mimeType = body.payload.mime_type;\n    if (mimeType.startsWith('audio/')) {\n      taskType = 'audio';\n    } else if (mimeType.startsWith('text/') || mimeType === 'application/json') {\n      taskType = 'text';\n    } else {\n      taskType = 'document';\n    }\n  }\n  \n  taskType = taskType || 'document';\n  \n  // Auto-prioritize: P1 (urgent) to P4 (low)\n  let priority = body.priority || 2;\n  if (body.urgent === true) priority = 1;\n  \n  // Map task type to worker workflow name\n  const workerMapping = {\n    'document': 'Document Processing Worker',\n    'audio': 'Audio Processing Worker',\n    'text': 'Text Processing Worker',\n    'onboarding': 'Onboarding Worker',\n    'communication': 'Communication Worker'\n  };\n  \n  const workflowName = workerMapping[taskType] || 'Document Processing Worker';\n  \n  results.push({\n    json: {\n      workflow_name: workflowName,\n      task_type: taskType,\n      priority: priority,\n      payload: body.payload || body,\n      status: 'pending',\n      created_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "create-task",
      "name": "Create Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "insert-task",
      "name": "Insert Task to Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, task_id: $json[0]?.id, priority: $json[0]?.priority, workflow: $json[0]?.workflow_name, status: 'queued' }) }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "poll-queue",
      "name": "Poll Task Queue",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue?status=eq.pending&order=priority.asc,created_at.asc&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-tasks",
      "name": "Fetch Pending Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-tasks",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-tasks",
      "name": "Has Pending Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 600]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'processing', started_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "claim-task",
      "name": "Claim Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 500]
    },
    {
      "parameters": {
        "jsCode": "// Prepare task data for worker execution\nconst task = $input.first().json;\nconst taskData = Array.isArray(task) ? task[0] : task;\n\nreturn {\n  json: {\n    task_id: taskData.id,\n    task_type: taskData.task_type,\n    workflow_name: taskData.workflow_name,\n    payload: taskData.payload,\n    priority: taskData.priority\n  }\n};"
      },
      "id": "prepare-worker-data",
      "name": "Prepare Worker Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-document",
              "leftValue": "={{ $json.task_type }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-document",
      "name": "Is Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-audio",
              "leftValue": "={{ $json.task_type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-audio",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1570, 550]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Document Processing Worker"
        },
        "options": {}
      },
      "id": "execute-document-worker",
      "name": "Execute Document Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Audio Processing Worker"
        },
        "options": {}
      },
      "id": "execute-audio-worker",
      "name": "Execute Audio Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1790, 450]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Text Processing Worker"
        },
        "options": {}
      },
      "id": "execute-text-worker",
      "name": "Execute Text Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2230, 850]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-communication",
              "leftValue": "={{ $json.task_type }}",
              "rightValue": "communication",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-communication",
      "name": "Is Communication?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2010, 750]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Communication Worker"
        },
        "options": {}
      },
      "id": "execute-communication-worker",
      "name": "Execute Communication Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2230, 650]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-onboarding",
              "leftValue": "={{ $json.task_type }}",
              "rightValue": "onboarding",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-onboarding",
      "name": "Is Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 650]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Onboarding Worker"
        },
        "options": {}
      },
      "id": "execute-onboarding-worker",
      "name": "Execute Onboarding Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2010, 550]
    },
    {
      "parameters": {
        "jsCode": "// Collect worker result and prepare status update\nconst workerResult = $input.first().json;\nconst taskData = $('Prepare Worker Data').first().json;\n\nconst success = workerResult.success !== false;\nconst status = success ? 'completed' : 'failed';\n\nreturn {\n  json: {\n    task_id: taskData.task_id,\n    status: status,\n    result: workerResult,\n    completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "collect-result",
      "name": "Collect Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 500]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue?id=eq.{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, completed_at: $json.completed_at, result: $json.result }) }}",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 500]
    },
    {
      "parameters": {},
      "id": "no-tasks",
      "name": "No Tasks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/worker_metrics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ worker_name: 'orchestrator', metric_type: 'task_' + $json.status, value: 1, tags: { task_id: $json.task_id } }) }}",
        "options": {}
      },
      "id": "log-metric",
      "name": "Log Completion Metric",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Insert Task to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Task to Queue": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Task Queue": {
      "main": [
        [
          {
            "node": "Fetch Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Tasks": {
      "main": [
        [
          {
            "node": "Has Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Tasks": {
      "main": [
        [
          {
            "node": "Claim Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Task": {
      "main": [
        [
          {
            "node": "Prepare Worker Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Worker Data": {
      "main": [
        [
          {
            "node": "Is Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Document?": {
      "main": [
        [
          {
            "node": "Execute Document Worker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Execute Audio Worker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Onboarding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Onboarding?": {
      "main": [
        [
          {
            "node": "Execute Onboarding Worker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Communication?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Communication?": {
      "main": [
        [
          {
            "node": "Execute Communication Worker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Text Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Communication Worker": {
      "main": [
        [
          {
            "node": "Collect Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Onboarding Worker": {
      "main": [
        [
          {
            "node": "Collect Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Document Worker": {
      "main": [
        [
          {
            "node": "Collect Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Audio Worker": {
      "main": [
        [
          {
            "node": "Collect Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Text Worker": {
      "main": [
        [
          {
            "node": "Collect Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Result": {
      "main": [
        [
          {
            "node": "Update Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Status": {
      "main": [
        [
          {
            "node": "Log Completion Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["orchestrator"],
  "triggerCount": 2,
  "pinData": {}
}
