n8n-workflows/master-orchestrator.json
{
  "name": "Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "orchestrator"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming request and create task\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const body = item.json.body || item.json;\n  \n  // Determine task type and priority\n  let taskType = body.task_type || 'document';\n  let priority = body.priority || 2;\n  \n  // Auto-prioritize based on criteria\n  if (body.urgent === true) {\n    priority = 1;\n  }\n  \n  // Map task type to worker workflow\n  const workerMapping = {\n    'document': 'document-worker',\n    'audio': 'audio-worker',\n    'text': 'text-worker',\n    'onboarding': 'onboarding-worker',\n    'communication': 'communication-worker'\n  };\n  \n  const workflowName = workerMapping[taskType] || 'document-worker';\n  \n  results.push({\n    json: {\n      workflow_name: workflowName,\n      task_type: taskType,\n      priority: priority,\n      payload: body.payload || body,\n      status: 'pending'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "create-task",
      "name": "Create Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "insert-task",
      "name": "Insert Task to Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, task_id: $json[0]?.id, priority: $json[0]?.priority, workflow: $json[0]?.workflow_name, status: 'queued' }) }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "poll-queue",
      "name": "Poll Task Queue",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 550]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue?status=eq.pending&order=priority.asc,created_at.asc&limit=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-tasks",
      "name": "Fetch Pending Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 550],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-tasks",
              "leftValue": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-tasks",
      "name": "Has Pending Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 550]
    },
    {
      "parameters": {
        "jsCode": "// Process pending tasks\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const tasks = item.json;\n  const taskArray = Array.isArray(tasks) ? tasks : [tasks];\n  \n  for (const task of taskArray) {\n    if (task && task.id) {\n      results.push({\n        json: {\n          ...task,\n          claimed_at: new Date().toISOString(),\n          worker_id: 'orchestrator-' + Math.random().toString(36).substr(2, 9)\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "prepare-tasks",
      "name": "Prepare Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 450]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'processing', worker_id: $json.worker_id, started_at: $json.claimed_at }) }}",
        "options": {}
      },
      "id": "claim-task",
      "name": "Claim Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Route based on workflow name and mark as completed\nconst items = $input.all();\nconst prevItems = $('Prepare Tasks').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const task = prevItems[i].json;\n  const startTime = new Date(task.claimed_at);\n  const endTime = new Date();\n  const durationMs = endTime - startTime;\n  \n  // For demo, mark as completed (actual worker would be called via sub-workflow)\n  results.push({\n    json: {\n      task_id: task.id,\n      status: 'completed',\n      completed_at: endTime.toISOString(),\n      duration_ms: durationMs,\n      workflow_name: task.workflow_name\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "process-task",
      "name": "Process Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 450]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue?id=eq.{{ $json.task_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, completed_at: $json.completed_at }) }}",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-tasks",
      "name": "No Tasks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 650]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Insert Task to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Task to Queue": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Task Queue": {
      "main": [
        [
          {
            "node": "Fetch Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Tasks": {
      "main": [
        [
          {
            "node": "Has Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Tasks": {
      "main": [
        [
          {
            "node": "Prepare Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tasks": {
      "main": [
        [
          {
            "node": "Claim Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Task": {
      "main": [
        [
          {
            "node": "Process Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Task": {
      "main": [
        [
          {
            "node": "Update Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "pinData": {}
}
