n8n-workflows/text-processing.json
{
  "name": "Text/Email Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-text",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "text-process"
    },
    {
      "parameters": {
        "jsCode": "// Normalize input from different sources\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json.body || item.json;\n  \n  let textData = {\n    source: data.source || 'api',\n    source_identifier: data.source_identifier || data.messageId || data.id || null,\n    subject: data.subject || null,\n    content: data.content || data.text || data.body || data.snippet || '',\n    user_id: data.user_id || null,\n    metadata: data.metadata || {}\n  };\n  \n  if (data.from || data.sender) {\n    textData.source = 'email';\n    textData.metadata.from = data.from || data.sender;\n    textData.metadata.to = data.to || data.recipient;\n    textData.metadata.date = data.date || data.internalDate;\n  }\n  \n  if (!textData.content || textData.content.trim().length === 0) {\n    throw new Error('Content is required and cannot be empty');\n  }\n  \n  results.push({ json: textData });\n}\n\nreturn results;"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare OpenAI API payload\nconst items = $input.all();\nconst results = [];\n\nconst systemPrompt = `You are a financial document and communication analyst. Analyze the provided text and extract all relevant financial and tax-related information.\n\nRespond ONLY with valid JSON in this format:\n{\n  \"document_type\": \"email|letter|statement|memo|other\",\n  \"category\": \"tax_inquiry|document_request|payment_info|account_update|general|other\",\n  \"urgency\": \"high|medium|low\",\n  \"extracted_data\": {\n    \"amounts\": [{\"value\": 1000.00, \"currency\": \"USD\", \"context\": \"tax refund\"}],\n    \"dates\": [{\"date\": \"2024-04-15\", \"context\": \"filing deadline\"}],\n    \"ssn_mentions\": [\"XXX-XX-1234\"],\n    \"tax_id_mentions\": [\"XX-XXX1234\"],\n    \"names\": [\"John Smith\"],\n    \"companies\": [\"IRS\", \"Acme Corp\"],\n    \"addresses\": [],\n    \"phone_numbers\": [],\n    \"email_addresses\": [],\n    \"document_references\": [\"W-2\", \"Form 1040\"],\n    \"account_numbers\": []\n  },\n  \"action_items\": [\"Submit W-2 by April 15\"],\n  \"sentiment\": \"neutral|positive|negative|urgent\",\n  \"summary\": \"Brief summary of the content\",\n  \"key_points\": [\"Point 1\", \"Point 2\"]\n}`;\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const userContent = 'Analyze this ' + data.source + ' content:\\n\\nSubject: ' + (data.subject || 'N/A') + '\\n\\nContent:\\n' + data.content;\n  \n  results.push({\n    json: {\n      ...data,\n      openai_payload: {\n        model: 'gpt-4o-mini',\n        messages: [\n          { role: 'system', content: systemPrompt },\n          { role: 'user', content: userContent }\n        ],\n        max_tokens: 3000,\n        temperature: 0.1\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-openai-payload",
      "name": "Prepare OpenAI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_payload) }}",
        "options": {}
      },
      "id": "openai-request",
      "name": "OpenAI Text Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-credential",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process extraction results from OpenAI\nconst items = $input.all();\nconst prevItems = $('Prepare OpenAI Payload').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const inputData = prevItems[i].json;\n  \n  let extraction;\n  try {\n    let responseText = item.json.choices?.[0]?.message?.content || '{}';\n    \n    if (responseText.includes('```json')) {\n      responseText = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n    } else if (responseText.includes('```')) {\n      responseText = responseText.replace(/```\\n?/g, '');\n    }\n    \n    extraction = JSON.parse(responseText.trim());\n  } catch (e) {\n    extraction = {\n      document_type: 'other',\n      category: 'other',\n      urgency: 'low',\n      extracted_data: {},\n      action_items: [],\n      sentiment: 'neutral',\n      summary: 'Extraction failed',\n      key_points: [],\n      parse_error: e.message\n    };\n  }\n  \n  let maskedContent = inputData.content || '';\n  maskedContent = maskedContent.replace(/\\b\\d{3}[-\\s]?\\d{2}[-\\s]?\\d{4}\\b/g, '[SSN REDACTED]');\n  maskedContent = maskedContent.replace(/\\b\\d{2}[-\\s]?\\d{7}\\b/g, '[EIN REDACTED]');\n  \n  results.push({\n    json: {\n      source: inputData.source,\n      source_identifier: inputData.source_identifier,\n      subject: inputData.subject,\n      content: maskedContent,\n      user_id: inputData.user_id,\n      extracted_data: extraction,\n      entities: extraction.extracted_data || {},\n      metadata: {\n        ...inputData.metadata,\n        document_type: extraction.document_type,\n        category: extraction.category,\n        urgency: extraction.urgency,\n        sentiment: extraction.sentiment\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "process-extraction",
      "name": "Process Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Supabase payload\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  results.push({\n    json: {\n      ...data,\n      supabase_payload: {\n        text: {\n          source: data.source,\n          source_identifier: data.source_identifier,\n          subject: data.subject,\n          content: data.content,\n          extracted_data: data.extracted_data\n        },\n        user_id: data.user_id\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-supabase-payload",
      "name": "Prepare Supabase Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/functions/v1/validate-text",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.supabase_payload) }}",
        "options": {}
      },
      "id": "store-in-supabase",
      "name": "Validate & Store Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, text_id: $json.text_id, warnings: $json.warnings, extraction: $('Process Extraction').first().json.extracted_data }) }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || $json.errors || 'Validation failed' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Payload": {
      "main": [
        [
          {
            "node": "OpenAI Text Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Text Analysis": {
      "main": [
        [
          {
            "node": "Process Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Extraction": {
      "main": [
        [
          {
            "node": "Prepare Supabase Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Payload": {
      "main": [
        [
          {
            "node": "Validate & Store Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Store Text": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
