n8n-workflows/monitoring/performance-dashboard.json
{
  "name": "Performance Monitoring Dashboard",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/worker_metrics?recorded_at=gte.{{ $now.minus({ hours: 24 }).toISO() }}&order=recorded_at.desc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "options": {}
      },
      "id": "fetch-metrics",
      "name": "Fetch Worker Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 200],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-headers",
          "name": "Supabase Headers Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/task_queue?select=status,workflow_name&created_at=gte.{{ $now.minus({ hours: 24 }).toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "options": {}
      },
      "id": "fetch-tasks",
      "name": "Fetch Task Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 400],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-headers",
          "name": "Supabase Headers Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/dead_letter_queue?select=status,task_type,retry_count&created_at=gte.{{ $now.minus({ hours: 24 }).toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "options": {}
      },
      "id": "fetch-dlq",
      "name": "Fetch DLQ Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 600],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-headers",
          "name": "Supabase Headers Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Calculate comprehensive metrics\nlet metrics = [];\nlet tasks = [];\nlet dlq = [];\n\ntry {\n  const metricsData = $('Fetch Worker Metrics').first().json;\n  metrics = Array.isArray(metricsData) ? metricsData : (metricsData?.error ? [] : [metricsData]);\n} catch (e) { metrics = []; }\n\ntry {\n  const tasksData = $('Fetch Task Stats').first().json;\n  tasks = Array.isArray(tasksData) ? tasksData : (tasksData?.error ? [] : [tasksData]);\n} catch (e) { tasks = []; }\n\ntry {\n  const dlqData = $('Fetch DLQ Stats').first().json;\n  dlq = Array.isArray(dlqData) ? dlqData : (dlqData?.error ? [] : [dlqData]);\n} catch (e) { dlq = []; }\n\n// Worker performance\nconst workerStats = {};\nfor (const m of metrics) {\n  if (!m.worker_name) continue;\n  if (!workerStats[m.worker_name]) {\n    workerStats[m.worker_name] = { executions: 0, total_duration: 0, successes: 0, failures: 0 };\n  }\n  workerStats[m.worker_name].executions++;\n  workerStats[m.worker_name].total_duration += m.value || 0;\n  \n  const metricType = m.metric_type || '';\n  if (metricType.includes('success') || metricType.includes('completed')) {\n    workerStats[m.worker_name].successes++;\n  } else if (metricType.includes('fail') || metricType.includes('error')) {\n    workerStats[m.worker_name].failures++;\n  }\n}\n\n// Calculate averages\nfor (const worker in workerStats) {\n  const stats = workerStats[worker];\n  stats.avg_duration_ms = stats.executions > 0 ? Math.round(stats.total_duration / stats.executions) : 0;\n  const completed = stats.successes + stats.failures;\n  stats.success_rate = completed > 0 ? ((stats.successes / completed) * 100).toFixed(1) : '100.0';\n}\n\n// Task queue stats\nconst taskStats = {\n  total: tasks.length,\n  pending: tasks.filter(t => t.status === 'pending').length,\n  processing: tasks.filter(t => t.status === 'processing').length,\n  completed: tasks.filter(t => t.status === 'completed').length,\n  failed: tasks.filter(t => t.status === 'failed').length\n};\ntaskStats.success_rate = taskStats.total > 0 ? \n  ((taskStats.completed / taskStats.total) * 100).toFixed(1) : '100.0';\n\n// DLQ stats\nconst dlqStats = {\n  total: dlq.length,\n  pending: dlq.filter(d => d.status === 'pending').length,\n  abandoned: dlq.filter(d => d.status === 'abandoned').length,\n  recovered: dlq.filter(d => d.status === 'completed' || d.status === 'recovered').length,\n  avg_retries: dlq.length > 0 ? \n    (dlq.reduce((sum, d) => sum + (d.retry_count || 0), 0) / dlq.length).toFixed(1) : '0'\n};\n\n// Check for anomalies\nconst anomalies = [];\nif (taskStats.pending > 50) {\n  anomalies.push({ type: 'high_queue', message: `High pending tasks: ${taskStats.pending}` });\n}\nif (parseFloat(taskStats.success_rate) < 90 && taskStats.total > 10) {\n  anomalies.push({ type: 'low_success_rate', message: `Low task success rate: ${taskStats.success_rate}%` });\n}\nif (dlqStats.abandoned > 10) {\n  anomalies.push({ type: 'high_abandonment', message: `High DLQ abandonment: ${dlqStats.abandoned}` });\n}\nfor (const worker in workerStats) {\n  if (parseFloat(workerStats[worker].success_rate) < 80 && workerStats[worker].executions > 5) {\n    anomalies.push({ type: 'worker_issues', message: `Worker ${worker} success rate: ${workerStats[worker].success_rate}%` });\n  }\n}\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    period: '24h',\n    worker_performance: workerStats,\n    task_queue: taskStats,\n    dead_letter_queue: dlqStats,\n    anomalies: anomalies,\n    health_status: anomalies.length === 0 ? 'healthy' : anomalies.length <= 2 ? 'degraded' : 'critical'\n  }\n};"
      },
      "id": "calculate-metrics",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/worker_metrics",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "multipleHttpHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ worker_name: 'system', metric_type: 'dashboard_snapshot', value: 1, tags: { health_status: $json.health_status, anomalies_count: $json.anomalies.length, workers_monitored: Object.keys($json.worker_performance).length, tasks_total: $json.task_queue.total, dlq_total: $json.dead_letter_queue.total } }) }}",
        "options": {}
      },
      "id": "store-snapshot",
      "name": "Store Dashboard Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 400],
      "credentials": {
        "multipleHttpHeadersAuth": {
          "id": "supabase-headers",
          "name": "Supabase Headers Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-critical",
              "leftValue": "={{ $('Calculate Metrics').first().json.health_status }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-critical",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "fromEmail": "gustavoferraz405@gmail.com",
        "toEmail": "gustavoferraz405@gmail.com",
        "subject": "=CRITICAL: System Health Alert - {{ $now.toISO() }}",
        "emailType": "html",
        "html": "=<h2 style=\"color: red;\">System Health Critical</h2><p><strong>Timestamp:</strong> {{ $('Calculate Metrics').first().json.timestamp }}</p><p><strong>Health Status:</strong> {{ $('Calculate Metrics').first().json.health_status }}</p><h3>Anomalies Detected:</h3><ul>{{ $('Calculate Metrics').first().json.anomalies.map(a => '<li>' + a.message + '</li>').join('') }}</ul><h3>Task Queue:</h3><ul><li>Total: {{ $('Calculate Metrics').first().json.task_queue.total }}</li><li>Pending: {{ $('Calculate Metrics').first().json.task_queue.pending }}</li><li>Failed: {{ $('Calculate Metrics').first().json.task_queue.failed }}</li><li>Success Rate: {{ $('Calculate Metrics').first().json.task_queue.success_rate }}%</li></ul><h3>Dead Letter Queue:</h3><ul><li>Total: {{ $('Calculate Metrics').first().json.dead_letter_queue.total }}</li><li>Abandoned: {{ $('Calculate Metrics').first().json.dead_letter_queue.abandoned }}</li></ul>",
        "options": {}
      },
      "id": "send-critical-email",
      "name": "Send Critical Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1350, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP Gmail"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "healthy",
      "name": "System Healthy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1350, 500]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Worker Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Task Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch DLQ Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Worker Metrics": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Task Stats": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch DLQ Stats": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Store Dashboard Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Dashboard Snapshot": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Send Critical Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "System Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
