n8n-workflows/workers/audio-worker.json
{
  "name": "Audio Worker",
  "nodes": [
    {
      "parameters": {
        "values": {
          "values": [
            {
              "name": "task",
              "value": "={{ $execution.customData.task || '{}' }}"
            }
          ]
        }
      },
      "id": "input",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse task for audio processing\nconst taskStr = $input.item.json.task || '{}';\nlet task;\ntry {\n  task = typeof taskStr === 'string' ? JSON.parse(taskStr) : taskStr;\n} catch (e) {\n  task = taskStr;\n}\n\nconst payload = task.payload || task;\n\nreturn {\n  json: {\n    filename: payload.filename || 'audio.mp3',\n    file_url: payload.file_url,\n    base64_content: payload.base64_content,\n    mime_type: payload.mime_type || 'audio/mpeg',\n    user_id: payload.user_id,\n    language: payload.language || 'en',\n    task_id: task.id,\n    metadata: payload.metadata || {}\n  }\n};"
      },
      "id": "parse-task",
      "name": "Parse Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "model": "whisper-1",
        "options": {
          "language": "={{ $json.language }}",
          "responseFormat": "verbose_json"
        }
      },
      "id": "whisper",
      "name": "Whisper Transcription",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [690, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "options": {
          "maxTokens": 2048,
          "temperature": 0.1
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract financial entities from this audio transcription. Look for SSNs, Tax IDs, income figures, dates, names, and tax document references.\n\nRespond with JSON only:\n{\n  \"ssn_mentions\": [\"XXX-XX-1234\"],\n  \"tax_id_mentions\": [\"XX-XXX1234\"],\n  \"income_figures\": [{\"amount\": 50000, \"context\": \"salary\"}],\n  \"dates\": [\"2024-04-15\"],\n  \"names\": [\"John Smith\"],\n  \"document_references\": [\"W-2\"],\n  \"summary\": \"Brief summary\"\n}"
            },
            {
              "role": "user",
              "content": "{{ $json.text }}"
            }
          ]
        }
      },
      "id": "entity-extraction",
      "name": "Extract Entities",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [910, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine transcription and entity extraction\nconst item = $input.item;\nconst inputData = $('Parse Task').item.json;\nconst transcription = $('Whisper Transcription').item.json;\n\nlet entities;\ntry {\n  let text = item.json.message?.content || item.json.text || '{}';\n  if (text.includes('```')) {\n    text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  }\n  entities = JSON.parse(text.trim());\n} catch (e) {\n  entities = { ssn_mentions: [], tax_id_mentions: [], income_figures: [], parse_error: e.message };\n}\n\n// Mask sensitive data\nlet maskedTranscription = transcription.text || '';\nmaskedTranscription = maskedTranscription.replace(/\\b\\d{3}[-\\s]?\\d{2}[-\\s]?\\d{4}\\b/g, '[SSN REDACTED]');\nmaskedTranscription = maskedTranscription.replace(/\\b\\d{2}[-\\s]?\\d{7}\\b/g, '[EIN REDACTED]');\n\nreturn {\n  json: {\n    filename: inputData.filename,\n    file_url: inputData.file_url,\n    mime_type: inputData.mime_type,\n    user_id: inputData.user_id,\n    task_id: inputData.task_id,\n    transcription: maskedTranscription,\n    duration_seconds: transcription.duration,\n    language: transcription.language || inputData.language,\n    extracted_entities: entities\n  }\n};"
      },
      "id": "combine-results",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/validate-audio",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-store",
      "name": "Validate & Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\n\nreturn {\n  json: {\n    success: result.success === true,\n    audio_id: result.audio_id,\n    task_id: $('Parse Task').item.json.task_id,\n    warnings: result.warnings,\n    extracted_entities: result.extracted_entities\n  }\n};"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Parse Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task": {
      "main": [
        [
          {
            "node": "Whisper Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcription": {
      "main": [
        [
          {
            "node": "Extract Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Entities": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Validate & Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Store": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-notifications"
  },
  "staticData": null,
  "tags": [
    {
      "name": "worker"
    },
    {
      "name": "audio"
    }
  ],
  "triggerCount": 0,
  "pinData": {}
}
