n8n-workflows/workers/communication-worker.json
{
  "name": "Communication Worker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "communication",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "communication-worker"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming communication request\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const body = item.json.body || item.json;\n  const payload = body.payload || body;\n  \n  results.push({\n    json: {\n      communication_type: payload.type || payload.communication_type || 'response',\n      recipient_email: payload.recipient_email || payload.to || payload.email,\n      recipient_name: payload.recipient_name || payload.name,\n      subject: payload.subject || 'Tax Document Update',\n      context: payload.context || {},\n      original_message: payload.original_message || payload.message || null,\n      tone: payload.tone || 'professional',\n      user_id: payload.user_id || null,\n      task_id: body.task_id || null\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-task",
      "name": "Parse Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare OpenAI payload for communication generation\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const systemPrompt = `You are a professional communication assistant for a tax preparation service. Generate context-aware, helpful responses.\n\nTone: ${data.tone}\n\nRespond ONLY with valid JSON:\n{\n  \"subject\": \"Email subject line\",\n  \"greeting\": \"Dear [Name],\",\n  \"body\": \"Main message content...\",\n  \"closing\": \"Best regards,\",\n  \"action_items\": [\"List any action items for the recipient\"],\n  \"attachments_needed\": [],\n  \"follow_up_date\": null,\n  \"priority\": \"normal\"\n}`;\n  \n  let userMessage = `Generate a ${data.communication_type} for:\\n\\nRecipient: ${data.recipient_name || 'Client'}\\nSubject: ${data.subject}\\n\\nContext:\\n${JSON.stringify(data.context)}`;\n  \n  if (data.original_message) {\n    userMessage += `\\n\\nOriginal message to respond to:\\n${data.original_message}`;\n  }\n  \n  results.push({\n    json: {\n      ...data,\n      openai_payload: {\n        model: 'gpt-4o-mini',\n        messages: [\n          { role: 'system', content: systemPrompt },\n          { role: 'user', content: userMessage }\n        ],\n        max_tokens: 2048,\n        temperature: 0.7\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-openai-payload",
      "name": "Prepare OpenAI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_payload) }}",
        "options": {}
      },
      "id": "generate-response",
      "name": "Generate Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-credential",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process OpenAI response\nconst items = $input.all();\nconst prevItems = $('Prepare OpenAI Payload').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const inputData = prevItems[i].json;\n  \n  let response;\n  try {\n    let text = item.json.choices?.[0]?.message?.content || '{}';\n    if (text.includes('```json')) {\n      text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n    } else if (text.includes('```')) {\n      text = text.replace(/```\\n?/g, '');\n    }\n    response = JSON.parse(text.trim());\n  } catch (e) {\n    response = { \n      subject: inputData.subject || 'Tax Document Update',\n      greeting: 'Dear Client,',\n      body: 'Thank you for your inquiry. We will get back to you shortly.',\n      closing: 'Best regards,',\n      action_items: [],\n      priority: 'normal',\n      parse_error: e.message \n    };\n  }\n  \n  // Compose full email\n  const fullEmail = `${response.greeting}\\n\\n${response.body}\\n\\n${response.closing}\\nTax Processing Team`;\n  \n  results.push({\n    json: {\n      recipient_email: inputData.recipient_email,\n      recipient_name: inputData.recipient_name,\n      subject: response.subject,\n      body: fullEmail,\n      body_parts: response,\n      user_id: inputData.user_id,\n      task_id: inputData.task_id,\n      action_items: response.action_items || [],\n      priority: response.priority || 'normal'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lkyixaippdmtjyiztuzw.supabase.co/rest/v1/processing_logs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxreWl4YWlwcGRtdGp5aXp0dXp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMjY4OSwiZXhwIjoyMDg1Mjc4Njg5fQ.nD4GhFIFXs-1qvdc42vAO1uumgTfGgiABsB9OgrOJHo"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resource_type: 'workflow', resource_id: $json.task_id || '00000000-0000-0000-0000-000000000000', user_id: $json.user_id, action: 'communication_generated', status: 'completed', details: { recipient: $json.recipient_email, subject: $json.subject, priority: $json.priority, action_items_count: ($json.action_items || []).length } }) }}",
        "options": {}
      },
      "id": "log-communication",
      "name": "Log Communication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-credential",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, task_id: $('Process Response').first().json.task_id, recipient: $('Process Response').first().json.recipient_email, subject: $('Process Response').first().json.subject, body_preview: $('Process Response').first().json.body.substring(0, 200) + '...', action_items: $('Process Response').first().json.action_items, priority: $('Process Response').first().json.priority, full_response: $('Process Response').first().json.body }) }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Payload": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Log Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Communication": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
