n8n-workflows/workers/onboarding-worker.json
{
  "name": "Onboarding Worker",
  "nodes": [
    {
      "parameters": {
        "values": {
          "values": [
            {
              "name": "task",
              "value": "={{ $execution.customData.task || '{}' }}"
            }
          ]
        }
      },
      "id": "input",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const taskStr = $input.item.json.task || '{}';\nlet task;\ntry {\n  task = typeof taskStr === 'string' ? JSON.parse(taskStr) : taskStr;\n} catch (e) {\n  task = taskStr;\n}\n\nconst payload = task.payload || task;\n\nreturn {\n  json: {\n    client_name: payload.client_name || payload.name,\n    client_email: payload.email,\n    client_type: payload.client_type || 'individual',\n    industry: payload.industry,\n    business_info: payload.business_info || {},\n    documents: payload.documents || [],\n    user_id: payload.user_id,\n    task_id: task.id\n  }\n};"
      },
      "id": "parse-task",
      "name": "Parse Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "options": {
          "maxTokens": 2048,
          "temperature": 0.2
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an onboarding specialist for a tax preparation service. Analyze the client profile and validate the information provided.\n\nRespond with JSON:\n{\n  \"profile_complete\": true,\n  \"missing_info\": [],\n  \"validation_results\": {\n    \"name_valid\": true,\n    \"email_valid\": true,\n    \"industry_recognized\": true,\n    \"client_type_valid\": true\n  },\n  \"suggested_documents\": [\"W-2\", \"1099-MISC\"],\n  \"risk_flags\": [],\n  \"onboarding_checklist\": [\n    {\"item\": \"Verify identity\", \"status\": \"pending\"},\n    {\"item\": \"Collect tax documents\", \"status\": \"pending\"}\n  ],\n  \"recommendations\": []\n}"
            },
            {
              "role": "user",
              "content": "Analyze this client profile for onboarding:\n\nClient Name: {{ $json.client_name }}\nEmail: {{ $json.client_email }}\nClient Type: {{ $json.client_type }}\nIndustry: {{ $json.industry || 'Not specified' }}\nBusiness Info: {{ JSON.stringify($json.business_info) }}\nDocuments Provided: {{ $json.documents.length }} document(s)"
            }
          ]
        }
      },
      "id": "analyze-profile",
      "name": "Analyze Client Profile",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [690, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst inputData = $('Parse Task').item.json;\n\nlet analysis;\ntry {\n  let text = item.json.message?.content || item.json.text || '{}';\n  if (text.includes('```')) {\n    text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  }\n  analysis = JSON.parse(text.trim());\n} catch (e) {\n  analysis = { profile_complete: false, parse_error: e.message };\n}\n\nreturn {\n  json: {\n    client_name: inputData.client_name,\n    client_email: inputData.client_email,\n    client_type: inputData.client_type,\n    user_id: inputData.user_id,\n    task_id: inputData.task_id,\n    analysis: analysis,\n    onboarding_status: analysis.profile_complete ? 'ready' : 'incomplete'\n  }\n};"
      },
      "id": "process-analysis",
      "name": "Process Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/processing_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resource_type: 'workflow', resource_id: $json.task_id, user_id: $json.user_id, action: 'client_onboarding', status: $json.onboarding_status === 'ready' ? 'completed' : 'pending', details: { client_name: $json.client_name, client_type: $json.client_type, analysis: $json.analysis } }) }}",
        "options": {}
      },
      "id": "log-onboarding",
      "name": "Log Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Process Analysis').item.json;\n\nreturn {\n  json: {\n    success: true,\n    task_id: data.task_id,\n    client_name: data.client_name,\n    onboarding_status: data.onboarding_status,\n    profile_complete: data.analysis.profile_complete,\n    missing_info: data.analysis.missing_info,\n    suggested_documents: data.analysis.suggested_documents,\n    checklist: data.analysis.onboarding_checklist\n  }\n};"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Parse Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task": {
      "main": [
        [
          {
            "node": "Analyze Client Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Client Profile": {
      "main": [
        [
          {
            "node": "Process Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Analysis": {
      "main": [
        [
          {
            "node": "Log Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Onboarding": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-notifications"
  },
  "staticData": null,
  "tags": [
    {
      "name": "worker"
    },
    {
      "name": "onboarding"
    }
  ],
  "triggerCount": 0,
  "pinData": {}
}
